.sectiongap {
    gap: 40px;
    justify-content: center;
    padding-bottom: 3rem;
}

.propiedadTitulo {
    font-size: 28px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tituloRef{
    display: flex;
    justify-content: space-between;
}

.tituloPropiedad {
    font-weight: 800;
    font-size: 18px;
}

.propiedadCaracteristicas {
     display: flex;
     justify-content: space-between;
}

.card > .propiedadDetalles {
    background-color: rgb(27, 67, 95);
    color: white;
    text-align: center;
    padding: 10px;
}



.icono {
    padding: 15px;
}

.propiedadPrecio {
    font-weight: 900;
    color:  rgb(27, 67, 95) ;
    padding-top: 1.5rem;
}

.propiedadOperacion{
    position: absolute;
    top: 0;
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 5px;
    margin: 10px;
}

.propiedadCardImagen {
    position: relative;
}

.propiedadCardImagen > figure > img:hover {
   cursor: pointer;
}

